*.swp
*.swo

# MP3, image file
captured/**
speaking/capture/**
speaking/search/**
speaking/detail/**
controllers/python/output/**

#DS.Store file
.DS_Store

#log
npm-debug.log

# config file
config/
.env
