<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        
    </head>
    <body>
        <input id='connect' type="button" value="제발"></button>

        <script type="text/javascript">
            $(function() {
                $('#connect').on('click', function(){
                    $.ajax({
                        url: '/get',
                        type: 'GET'
                    });
                });
            });
        </script>
    </body>
</html>