<!DOCTYPE html>
<html lang = "en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>LVP HUB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Page Wrapper -->
    <div id = "wrapper">
      <div id = "content-wrapper" >
        <h1 class="h1" style = "margin-bottom : 5rem;">Detail</h1>
        <!-- row1 start-->
        <div class="row"style = "margin-bottom : 5rem;">
          <!-- Area Chart -->
          <div class="col-xl-13">
            <div class="card shadow mb-4" style = "height: 300rem;">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary" style = "font-size : 3rem;">Item</h6>
              </div>
              <!-- item Body -->
              <div class="card-body">
                <div class="chart-area-joys">
                  <div class ="item_top">
                    <div class="item_photo"></div>
                    <div class="item_detail"></div>
                  </div>
                  <hr style="width="100%">
                  <h2 class="h2">상세정보</h2>
                  <hr style="width="100%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--row1 done-->
    </div>
  </body>
</html>
