<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

		<title>LVP HUB</title>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
		<link rel="icon" type="image/png" sizes="32x32" href="./fav_img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="./fav_img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./fav_img/favicon-16x16.png">
		<link rel="manifest" href="./fav_img/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="./fav_img/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<!-- Page Wrapper -->
		<div id="wrapper">
			<div id="content-wrapper">

				<h1 class="h1">LVP HUB</h1>
				<p style="margin-bottom : 0.5rem; color : black;">Welcome to LVP HUB</p>
				<br/>
				<form action="/search" accept-charset="utf-8" method="post" id="searchAction" name="searchAction"
										  style="margin-bottom: 5rem">
					<div class="input-group">
						<input type="text" class="search_word" id="search_word" name="search_word" placeholder="Search for" style = "color : black; font-weight : bold;">
						<div class="input-group-append ">
							<button type="submit" class="btn-primary-joys" style = "font-weight : bold;"onclick="searchKeyword();">검색</button>
							<script>
								function searchKeyword() {
									if ($('#search_word').val == '') {
										alert("검색어를 입력해주세요!");
									} else {
										$('#searchAction').submit();
									}
								}
							</script>
							<i class="fas fa-search fa-sm"></i>
							</button>
						</div>
					</div>
					<br/>

					<div class ="check_joys">
						<input id="emart" type="checkbox" checked = "checked" name = "search_category" value = "emart">
						<label for ="emart">
							<span> EMART </span>
						</label>
					<!--</div>

					<div class ="check_joys">-->
						<input id="lotte" type="checkbox" checked = "checked" name = "search_category" value = "lotte">
						<label for ="lotte">
							<span> LOTTE MALL </span>
						</label>
					<!--</div>
					<div class ="check_joys">-->
						<input id="gmarket" type="checkbox" checked = "checked"  name = "search_category" value = "gmarket">
						<label for ="gmarket">
							<span> GMARKET </span>
						</label>
					</div>

						
				</form>
				<h3 class="h3">상품 할인정보는 상품 상세페이지에서 확인하실 수 있습니다</h3>

			</div>
		</div>
	</body>
</html>

