<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

		<title>LVP HUB</title>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>
	<body>
		<!-- Page Wrapper -->
		<div id="wrapper">
			<div id="content-wrapper">

				<h1 class="h1">LVP HUB</h1>
				<p style="margin-bottom : 5rem;">Welcome to LVP HUB</p>
				<form action="/search" accept-charset="utf-8" method="post" id="searchAction" name="searchAction"
										  style="margin-bottom: 5rem">
					<div class="input-group">
						<input type="text" class="search_word" id="search_word" name="search_word" placeholder="Search for">
						<div class="input-group-append ">
							<button type="submit" class="btn btn-primary" onclick="searchKeyword();">검색</button>
							<script>
								function searchKeyword() {
									if ($('#search_word').val == '') {
										alert("검색어를 입력해주세요!");
									} else {
										$('#searchAction').submit();
									}
								}
							</script>
							<i class="fas fa-search fa-sm"></i>
							</button>
						</div>
					</div>
					<select name="search_category" form="searchAction" style="margin-top : 1rem;  font-size : 4rem">
						<option value="" disabled selected>LOTTE MALL</option>
						<option value="emart">E-MART</option>
						<option value="lotte">LOTTE MALL</option>
						<option value="gmarket">GMARKET</option>
					</select>
				</form>
				<h2 class="h2">상품 할인정보는 상품 상세페이지에서 확인하실 수 있습니다</h2>

			</div>
		</div>
	</body>
</html>

